{% extends 'base.html' %}
{% load static %}

{% block content %}
  {% for cat in cats %}
    <p>
      Name:
      <a href="/{{ cat.id }}">{{ cat.name }}</a>
    </p>
    <p>
      Adopted By:
      <a href="/user/{{cat.user.username}}">{{cat.user.username }}</a>
    </p>
    {% if cat.age > 0 %}
      <p>Age: {{ cat.age }}</p>
    {% else %}
      <p>Age: Kitten</p>
    {% endif %}
    <hr />
  {% endfor %}
  <form action="post_url/" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit" />
  </form>
{% endblock %}
